@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

h2{
    padding: 10px;
    background-color: #000000;
    color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
}

header .logo h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    color: white;
    text-decoration: none; 
    font-size: 16px;
    padding: 5px 10px; 
    transition: color 0.3s, background-color 0.3s; 
}

nav ul li a:hover {
    color: #6644cb; 
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 5px; 
}

.hero {
    position: relative;
    height: 620px; 
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(50%); 
}

.hero .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
    font-size: larger;
}

.hero-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fefdfd;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-button:hover {
    background-color: #5027a3; 
}


.concert {
    text-align: center;
    margin: 40px 0;

}

.concert-gallery {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.concert-item {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.concert-item:hover {
    transform: scale(1.05);
}

.concert-hover img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.concert-hover img:hover {
    transform: scale(1.1);
}

.concert-hover p {
    padding: 10px;
    font-size: 16px;
    background-color: #2a242f;
    color: white;
}

.story-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.story-photo img {
    max-width: 500px;
    border-radius: 8px;
}

.story-text p {
    margin-bottom: 10px;
    text-align: justify;
}

.fan-gallery {
    text-align: center;
    margin-top: 10px;
}

.fan-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.fan-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.koleksi-hover img:hover {
    transform: scale(1.1);
}

footer{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 20px;
}